includes:
    - phpstan-baseline.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon

rules:
    - Spatie\Ray\PHPStan\RemainingRayCallRule

parameters:
    level: 8
    paths:
        - src
        - config
    tmpDir: build/phpstan
    ignoreErrors:
        - identifier: missingType.iterableValue
    checkOctaneCompatibility: true
    checkModelProperties: true

    parallel:
            maximumNumberOfProcesses: 6

    errorFormat: ticketswap
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'

